In [51]:
import pandas as pd

df = pd.read_csv('03_Library Systembook.csv')

#print("first 5 Rows:")
#print(df.head())

#print(f"\nDataset shape :{df.shape[0]} rows,{df.shape[0]} columns")

# column names
print("\nColumn names:")
print(df.columns.tolist())
# drop empty rows and columns
df = df.dropna(how='all')
df = df.dropna(axis=1, how = 'all')
# trim spaces
df = df.apply(lambda x:x.str.strip().str.replace('"','',regex=False) if x.dtype == "object" else x)
# Properly case the book titles
df['Books'] = df['Books'].str.title()
# convert Weeks to days
df['Days allowed to borrow'] = df['Days allowed to borrow'].str.replace('2 weeks','14',regex=False)
#Custom Replace function
def clean_text(text_series):
    """
    Apply multiple text replacements to a column.
    Add or modify replacements in the list below.
    """
    replacements = [
        ('"', ''),                          # Remove Quotes 
        ('32/05/2023', '31/05/2023'),       # Correct Date
        ('Of The Kind', 'Of The King')     # Correct Title      
    ]
    
    for old, new in replacements:
        text_series = text_series.str.replace(old, new, regex=False)
    
    return text_series

df = df.apply(lambda x:clean_text(x) if x.dtype == "object" else x)

df = df.dropna(subset=['Customer ID'])
df['Id'] = df['Id'].astype(int) 
df['Customer ID'] = df['Customer ID'].astype(int) 
print("\nCleansed Dataframe:")
print(df)

Column names:
['Id', 'Books', 'Book checkout', 'Book Returned', 'Days allowed to borrow', 'Customer ID']

Cleansed Dataframe:
    Id                                     Books Book checkout Book Returned  \
0    1                        Catcher In The Rye    20/02/2023    25/02/2023
1    2          Lord Of The Rings The Two Towers    24/03/2023    21/03/2023
2    3  Lord Of The Rings The Return Of The King    29/03/2023    25/03/2023
3    4                                The Hobbit    02/04/2023    25/03/2023
4    5                                      Dune    02/04/2023    25/03/2023
5    6                              Little Women    02/04/2023    01/05/2023
6    7                                        It    10/04/2063    03/04/2023
7    8                                    Misery    15/04/2023    03/04/2023
8    9                                  Catch 22    15/04/2023    16/04/2023
9   10                               Animal Farm    20/04/2023    24/04/2023
10  11                                      1984    23/04/2023    27/04/2023
11  12                              Little Women    02/04/2023    01/05/2023
12  13                              East Of Eden    30/04/2023    05/05/2023
13  14                   America Is In The Heart    01/05/2023    07/05/2023
14  15                         Wuthering Heights    01/05/2023    10/05/2023
15  16                                Dark Tales    15/05/2023    01/06/2023
16  17                        The Bloody Chamber    31/05/2023    04/06/2023
17  18                            Les Miserables    03/06/2023    07/06/2023
18  19                                   Dracula    10/06/2023    10/07/2023
19  20                              Frankenstein    01/06/2023    20/06/2023

   Days allowed to borrow  Customer ID
0                      14            1
1                      14            2
2                      14            3
3                      14            4
4                      14            5
5                      14            1
6                      14            6
7                      14            7
8                      14            7
9                      14            2
10                     14            8
11                     14            1
12                     14            2
13                     14            3
14                     14            9
15                     14            2
16                     14            3
17                     14            5
18                     14           10
19                     14            2

In [49]:
import pandas as pd

df = pd.read_csv('03_Library SystemCustomers.csv')

df = df.dropna(subset=['Customer ID'])
df['Customer ID'] = df['Customer ID'].astype(int) 
print("\nCleansed Dataframe:")
print(df)

Cleansed Dataframe:
   Customer ID     Customer Name
0            1          Jane Doe
1            2        John Smith
2            3        Dan Reeves
4            5    William Holden
5            6     Jaztyn Forest
6            7     Jackie Irving
7            8  Matthew Stirling
8            9         Emory Ted